# .npmignore 

.babelrc
.gitignore
.gitattributes
.travis.yml
pnpm-lock.yml
jsdoc.json
babel.config.js
.mocharc.js  
*.log
test
examples
cases
docs
coverage
.nyc_output
lib/**/__test__
src/**/__test__
.editorconfig
.prettierignore
rollup.config.js
jsconfig.json