# .npmignore 

.babelrc
.gitignore
.gitattributes
.travis.yml
jsdoc.json
babel.config.js
*.log
*.md
test
examples
docs
coverage
.nyc_output
lib/**/__test__
.editorconfig
.prettierignore
rollup.config.js
jsconfig.json